*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

header{
	color: #fff;
	width: 100%;
	background: transparent;
}

 img{
	transform: scale(.7);
}

body{
	background-color: #fbfbfd;
	overflow-x: hidden;
}

section{
	padding: 60px 0;
}

li{
	list-style: none;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

a{
	text-decoration: none;
	overflow: hidden;
  	position: relative;
  	display: inline-block;
  	color: #141414;
  	cursor: pointer;
}

h1{
	color: #141414;
	font-size: 80px;
	letter-spacing: 6px;
}


.container{
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
	width: 90%;
}

.btn{
	display: inline-block;
	color: #141414;
	padding: 10px;
	border: 1.8px solid #141414;
}

.burger-btn{
	border: none;
	cursor: pointer;
	display: none;
}


.burger-btn i{
	font-size: 25px;
}

.side-menu{
	position: absolute;
	right: -500px;
	top: 0;
	height: 100vh;
	background: rgba(20,20,20,0.25);
	backdrop-filter: blur(15px);
	z-index: 9999;
	transition: .5s;
}

.side-menu-logo{
	background-image: url(logo_m.png);
	background-position: center;
	background-size: cover;
	margin-bottom: 40px;
	width: 70px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}

.active-menu{
	right: 0;
	transition: .5s;
	width: 100%;
}

.burger-menu{
	width: 100%;
	text-align: center;
}

.burger-menu i{
	margin-right: 20px;
}

.burger-menu li{
	margin-bottom: 30px;
}

.burger-menu li a:hover{
	background: #141414;
	color: #fff;
}

.burger-menu li a{
	font-size: 20px;
	color: #141414;
	width: 90%;
	padding: 20px; 
}


.slide-button{
	height: 60px;
	width: 150px;
	position: absolute;
	background-color: #fff;
	top: -60px;
	right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	transition: .5s;
	z-index: 0;
}

.active{
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	transition: .5s;
	background-color: #fff;
	color: #000000;
	position: absolute;
	z-index: 100;
}

.header-flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-bar{
	display: flex;
}

.nav-bar li{
	margin-left: 50px;
}

.nav-bar li a::before,
.nav-bar li a::after {
 content: '';
 position: absolute;
 width: 100%;
 left: 0;
}

.nav-bar li a::before {
  background-color: #141414;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-bar li a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.nav-bar li a:hover::after {
  transform: translate3d(0, 0, 0);
}

.banner{
	background-image: url(background.jpg);
	background-position: center;
	background-size: cover;
	height: 600px;
	display: flex;
	align-items: center
}

.banner::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: linear-gradient(to top, #fbfbfd, transparent);
	z-index: 1000;
}

.banner-box h3{
	color: #141414;
	font-weight: 100;
	font-size: 50px;
	letter-spacing: 12px;
	margin-bottom: 20px;
}

.banner-box h2{
	color: #141414;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 70px;
	margin-bottom: 20px;
}

.banner-box h4{
	color: #141414;
	font-weight: 100;
	letter-spacing: 10px;
	font-size: 20px;
	margin-bottom: 30px;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #141414;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}


.section-title{
	margin-bottom: -50px;
	z-index: 2;
	position: relative;
}

.section-title h2{
	font-size: 140px;
	font-weight: 900;
}


.projet-title{
	color: #fff;
	position: relative;
	z-index: 9999; 
	text-align: center;
}

.projet-title h2{
	font-size: 30px;
	font-weight: 500;
	color: #fff;
}

.projet-title p{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 3px;
}


.project-1{
	background-image: url(projet1.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	position: relative;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-1:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 60%;
	background-color: #000000;
}

.project-logo{
	height: 100px;
	width: 100px;
	background-image: url(logo_lcr.png);
	background-position: center;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.project-flex{
	display: flex;
	flex-wrap: wrap;
}

.project-2{
	background-image: url(cake.jpg);
	background-position: center;
	background-size: cover;
	width: 50%;
	height: 500px;
	position: relative;
	overflow: auto;
}

.project-2:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 50%;
	background-color: #e9c3b8;
}

.project-3{
	width: 50%;
	background-color: #1a1a1a;
	height: 500px;
	position: relative;
	overflow: auto;
}


.contact-flex{
	display: flex;
	flex-wrap: wrap;
	height: 600px;
}

.contact-left{
	width: 50%;
	background-color: #224a54;
	z-index: -1;
	padding: 50px;
}

.socials{
	display: flex;
}

.socials i{
	color: #fff;
	margin-right: 20px;
}

.contact-left p{
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 8px;
	color: #fff;
	margin-bottom: 30px;
}

.contact-right{
	width: 50%;
	background-image: url(photo.jpg);
	background-size: cover;
	background-position: center;
}


@media only screen and (max-width: 800px){

}

@media only screen and (max-width: 500px){
	.nav-bar{
		display: none;
	}

	.burger-btn{
		display: block;
	}

	img{
	transform: scale(.5);
	}

	.section-title{
		margin-bottom: -30px;
	}

	.section-title h2{
		font-size: 80px;
	}

	.slide-button{
		display: none;
	}

	.project-2{
		width: 100%;
		height: 400px;
	}

	.project-3{
		width: 100%;
		height: 400px;
	}

	.projet-title h2{
		font-size: 20px;
	}

	.projet-title p{
		font-size: 12px;
	}

	.contact-left{
		width: 100%;
	}

	.contact-right{
		width: 100%;
		height: 400px;
	}



}


